/* Reset some default styles and set a background color */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.game-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.game-item img {
    max-width: 100%;
    height: auto;
}

.game-item button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo {
    width: 25px;
    height: 25px;
}

search-bar {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

#cancel-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

#cancel-btn[style="display: none;"] {
    display: none;
}

@media (max-width: 768px) {
    .game-item {
        width: 100%;
    }
}